.chat-wrap {
  border: 1px solid #888;
  padding: 15px;
  background: #eee;
  margin-bottom: 15px;
}
.chat-wrap-element_in {
  border: 1px solid #000;
  padding: 15px;
  margin: 15px;
  max-width: 70%;
  background: white;
}
.chat-wrap-element_out {
  border: 1px solid #000;
  padding: 15px;
  margin: 15px;
  max-width: 70%;
  margin-left: 30%;
  background: aliceblue;
}
.chat-send-wrap_textarea {
  width: calc(100% - 32px);
  min-height: 4em;
  font-size: 22px;
  padding: 15px;
}
.chat-send-wrap_btn {
  text-align: center;
  padding: 5px 15px;
  font-size: 22px;
  margin: 10px auto;
  display: block;
}
